<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <img alt="#" src="https://is4-ssl.mzstatic.com/image/thumb/Purple116/v4/3d/c7/bf/3dc7bfd0-fbe5-5d01-f1b8-320c6c5b20fe/AppIcon-85-220-4-2x.png/1200x630bb.png" style="height: 40px; margin-top: 2px">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="font-size: 20px;" routerLink="/"><b>Recipes</b> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-success my-2 my-sm-0 pl-4 pr-4" type="button" routerLink="/add">Add</button>
    </div>
  </div>
</nav>
