<div class="card" style="width: 18rem; height: 37rem;">
  <img [src]="recipe.imageRecipe" style="height: 286px; width: 286px" class="card-img-top" alt="{{ recipe.name }}">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">{{ recipe.name }}</h5>
    <p class="card-text font-italic" style="color: white">{{ recipe.description }}</p>
    <div class="button">
    <a href="#" class="btn btn-success pl-3 pr-3 mr-2" [routerLink]="['/recipes', recipe.id]">View</a>
    <a href="#" class="btn btn-danger pl-3 pr-3 ml-2" (click)="onRemove()">Remove</a>
    </div>
  </div>
</div>
