.card-body {
  background: -webkit-linear-gradient(0deg, rgb(0, 45, 43) 15%, rgb(219, 219, 219));
  background: -moz-linear-gradient(0deg, rgb(0, 45, 43) 15%, rgb(219, 219, 219));
  background: linear-gradient(0deg, rgb(0, 45, 43) 15%, rgb(219, 219, 219));
}

.button {
  position: absolute;
  bottom: 10px;
  left: 20%;
}
