<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <form [formGroup]="recipeForm" (ngSubmit)="saveRecipe()">
                <div class="form-outline mb-2">
                  <label class="form-label" for="name"><b>Recipe name: </b></label>
                  <input type="text" id="name" formControlName="name" class="form-control form-control-lg" placeholder="Наименование рецепта"/>
                  <small
                    *ngIf="fieldHasError('name', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Enter the name of the recipe.
                  </small>
                </div>
                <div class="form-outline mb-2">
                  <label class="form-label" for="description"><b>Recipe description: </b></label>
                  <textarea id="description" formControlName="description" class="form-control form-control-lg" maxlength="300" placeholder="Введите описание рецепта"></textarea>
                  <small
                    *ngIf="fieldHasError('description', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Enter the description of the recipe.
                  </small>
                </div>
                <div class="form-outline mb-2">
                  <label class="form-label" for="imageRecipe"><b>Recipe image: </b></label>
                  <input type="text" id="imageRecipe" formControlName="imageRecipe" class="form-control form-control-lg" placeholder="Вставьте ссылку на картинку"/>
                  <small
                    *ngIf="fieldHasError('imageRecipe', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Enter the image of your recipe.
                  </small>
                </div>
                <div class="form-outline mb-2">
                  <label class="form-label" for="ingredients"><b>Recipe ingredients: </b></label>
                  <textarea id="ingredients" formControlName="ingredients" class="form-control form-control-lg" maxlength="300" placeholder="Перечислите ингридиенты"></textarea>
                  <small
                    *ngIf="fieldHasError('ingredients', 'required')"
                    class="form-text invalid-form-text"
                  >
                    Enter the ingredients of your recipe.
                  </small>
                </div>
                <div class="form-group mb-2" formArrayName="steps">
                  <label class="form-label mb-2" for="addStep"><b>Cook steps: </b></label>
                  <br>
                  <button type="button" id="addStep" class="btn btn-secondary mb-2" (click)="addStep()">Add step</button>
                    <div class="form-outline" *ngFor="let stepControl of getSkillControls(); let i = index">
                      <div [formGroupName]="i">
                      <p class="mt-2"><b>Step {{ i + 1 }}:</b></p>
                      <input type="text" id="imageStep" formControlName="imageStep" class="form-control form-control-lg" placeholder="Вставьте ссылку на картинку"/>
                      <textarea id="descriptionStep" formControlName="descriptionStep" class="form-control form-control-lg mt-2" placeholder="Введите описание шага"></textarea>
                      <hr>
                      </div>
                    </div>
                  </div>
                <div class="d-flex justify-content-center mt-4">
                  <button
                    type="submit"
                    class="btn btn-block btn-success"
                    [disabled]="recipeForm.invalid || isClick"
                  >Save</button>
                </div>
                <p class="text-center text-muted mt-3">Did you get here by a mistake? <a href="#" class="fw-bold text-body" routerLink="/"><u>Go back</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
