<div class="row" style="color: white; margin: 0 auto; width: 600px; background-color: rgba(31, 13, 13, 0.7); border-right: 5px double gray; border-left: 5px double gray">
  <div class="col" style="opacity: 1;">
    <h4 class="text-center mt-2 mb-4 font-weight-bold text-uppercase" style="color: greenyellow">{{ recipe.name }}</h4>
    <img alt="recipe" [src]="recipe.imageRecipe" style="display: block; margin: 0 auto; max-width: 500px"/>
    <p style="max-width: 450px; text-align: center; margin-left: 50px; margin-top: 10px"><i><b>Описание</b>: «{{ recipe.description }}»</i></p>
    <p><b>Ингридиенты</b>: {{ recipe.ingredients }}</p>
    <h4 class="font-weight-bold mt-4">Приготовление:</h4>
    <ol class="mt-4">
      <ng-container *ngFor="let step of recipe.steps; let i = index">
      <li>{{ recipe.steps[i].descriptionStep }}</li>
      <img alt="step" [src]="recipe.steps[i].imageStep" class="mt-2 mb-4" style="height: 300px; width: 450px; margin-left: 25px">
      </ng-container>
    </ol>
  </div>
</div>
